/**
 *  Abstracts
 */
@font-face {
  font-family: 'Avenir';
  src: url("../../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/AvenirLTStd-Medium.otf") format("opentype"), url("../../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
/*
 * Neutral Colors
 * 1) Neutral color variables use a numbered system to define variables for better maintainability.
 *    "$color-gray-10" means "10% gray", which is a gray closer to white than to black. For more info
 *    read https://medium.com/eightshapes-llc/color-in-design-systems-a1c80f65fa3#.brevrq67p
 */
/**
 *  Base
 */
/**
 * Gradient Animation 
 */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/**
 * Grain background 
 */
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Zero out margin and padding on most elements as base style
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0; }

/**
 * Display block as base for these elements
 */
header, footer, nav, section, article, hgroup, figure {
  display: block; }

/**
 * Display block as base for these elements
 */
li {
  list-style: none; }

a {
  text-decoration: none; }

/**
 * Bootstrap
 */
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none; } }
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none; } }
/**
 * Common
 */
.h2 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.41;
  text-align: center;
  color: #333132;
  margin: 0; }
  @media (max-width: 768px) {
    .h2 {
      font-size: 38px; } }

.section-container {
  max-width: 966px;
  margin: 0 auto; }

/*------------------------------------*\
    #BODY
\*------------------------------------*/
/**
 * Body base styles
 */
body {
  color: #333132;
  background-color: #fff; }

* {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

body, html {
  height: 100%; }

/**
 * Components
 */
/*------------------------------------*\
    #Hero Banner
\*------------------------------------*/
.hero-banner-content {
  padding: 60px 0;
  background-color: #82968c;
  height: 572px;
  position: relative; }
  .hero-banner-content h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.63;
    color: #fff;
    max-width: 876px; }
  .hero-banner-content p {
    font-size: 25px;
    font-weight: 900;
    line-height: 1.76;
    color: #fff; }
  .hero-banner-content .hero-down-arrow {
    font-size: 30px;
    color: #fff;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    height: 36px;
    width: 36px;
    line-height: 42px;
    border: 1px solid #fff;
    border-radius: 50%; }
    .hero-banner-content .hero-down-arrow:after {
      content: "";
      position: absolute;
      left: 0;
      height: 13px;
      width: 3px;
      background: #fff;
      top: 10px;
      right: 0;
      margin: 0 auto; }
  @media (max-width: 767px) {
    .hero-banner-content {
      padding: 60px 0 100px;
      height: auto; }
      .hero-banner-content h1 {
        font-size: 55px; }
      .hero-banner-content p {
        font-size: 20px; } }

.navbar {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent !important; }
  .navbar .header-logo {
    height: 54px;
    width: 54px; }
  .navbar .nav-item {
    padding: 0 15px; }
  @media (max-width: 767px) {
    .navbar .nav-item {
      padding: 0; } }

.navbar-light .navbar-nav .nav-link {
  color: #333132; }

.navbar-expand-md .navbar-nav .nav-link {
  padding: 10px;
  position: relative; }
  .navbar-expand-md .navbar-nav .nav-link:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ea5752;
    opacity: 0;
    transition: all 0.2s linear 0s;
    margin: 0 auto; }
  .navbar-expand-md .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%; }
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding: 15px 0px; } }

/**
 * Get In Touch
 */
.get-in-touch {
  padding: 130px 0; }
  .get-in-touch .hello-wrapper {
    padding-bottom: 60px; }
    .get-in-touch .hello-wrapper .h2 {
      padding-bottom: 25px; }
    .get-in-touch .hello-wrapper .hello-wrapper-content {
      max-width: 800px;
      text-align: center;
      margin: 0 auto; }
      .get-in-touch .hello-wrapper .hello-wrapper-content li {
        display: inline-block;
        padding: 0 20px; }
        .get-in-touch .hello-wrapper .hello-wrapper-content li a {
          font-size: 25px;
          padding-left: 20px;
          color: #333132;
          opacity: 0.6; }
        .get-in-touch .hello-wrapper .hello-wrapper-content li i {
          font-size: 24px;
          opacity: 0.6; }
  .get-in-touch .help-you-wrapper .h2 {
    padding-bottom: 40px; }
  .get-in-touch .help-you-wrapper .form-group {
    margin-bottom: 32px; }
  .get-in-touch .help-you-wrapper input, .get-in-touch .help-you-wrapper textarea {
    padding: 10px 18px;
    background-color: rgba(201, 221, 229, 0.5);
    border-radius: 0;
    border: none;
    height: auto;
    resize: none; }
  .get-in-touch .help-you-wrapper .form-submit-wrap {
    text-align: right; }
    .get-in-touch .help-you-wrapper .form-submit-wrap a {
      background-color: #ea5752;
      padding: 15px;
      max-width: 230px;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
      color: #fff;
      width: 100%;
      display: block;
      float: right; }
  @media (max-width: 767px) {
    .get-in-touch {
      padding: 90px 0; } }

.google-sprint-wrapper {
  padding: 95px 0; }
  .google-sprint-wrapper .google-sprint-left .h2 {
    color: #fbb13c;
    text-align: left;
    line-height: 1.41; }
  .google-sprint-wrapper .google-sprint-left .h2.desc {
    color: #333132;
    font-weight: 400; }
  .google-sprint-wrapper .google-sprint-right form {
    max-width: 432px; }
  .google-sprint-wrapper .google-sprint-right .form-label {
    font-size: 14px;
    margin-bottom: 9px;
    color: #333132;
    text-align: center;
    display: block; }
  .google-sprint-wrapper .google-sprint-right .form-check-label {
    display: block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #82968c;
    padding: 10px;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden; }
    .google-sprint-wrapper .google-sprint-right .form-check-label input {
      position: absolute;
      opacity: 0; }
    .google-sprint-wrapper .google-sprint-right .form-check-label span {
      color: #333132; }
    .google-sprint-wrapper .google-sprint-right .form-check-label span:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 110%;
      width: 100%;
      z-index: -1;
      opacity: 0; }
    .google-sprint-wrapper .google-sprint-right .form-check-label input:checked ~ span, .google-sprint-wrapper .google-sprint-right .form-check-label input:checked ~ span:after {
      background: #fbb13c;
      opacity: 1;
      color: #fff; }
  .google-sprint-wrapper .google-sprint-right .email-wrapper {
    position: relative; }
    .google-sprint-wrapper .google-sprint-right .email-wrapper input {
      border-radius: 0;
      border: 1px solid #82968c;
      padding: 10px 50px 10px 30px;
      height: auto; }
    .google-sprint-wrapper .google-sprint-right .email-wrapper i {
      position: absolute;
      font-size: 22px;
      color: #c9dde5;
      right: 10px;
      top: 12px;
      bottom: 0; }
  .google-sprint-wrapper .google-sprint-right .google-sprint-submit {
    margin: 27px auto 0;
    background-color: #fbb13c;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    max-width: 231px;
    width: 100%;
    display: block;
    border-radius: 2px;
    padding: 15px 0;
    border: none; }
  @media (max-width: 767px) {
    .google-sprint-wrapper {
      padding: 50px 0; }
      .google-sprint-wrapper .google-sprint-left {
        padding-bottom: 30px; }
      .google-sprint-wrapper .google-sprint-right form {
        margin: 0 auto; } }

.fortune-company-wrapper {
  text-align: center; }
  .fortune-company-wrapper .fortune-company-desc {
    color: #333132;
    max-width: 800px;
    margin: 0 auto; }
  .fortune-company-wrapper .fortune-company-content ul {
    display: table; }
    .fortune-company-wrapper .fortune-company-content ul li {
      display: table-cell; }

.our-bg-wrapper {
  padding: 50px 0 0; }
  .our-bg-wrapper .h2 {
    padding-bottom: 63px; }
  .our-bg-wrapper .our-bg-head {
    font-size: 25px;
    font-weight: 900;
    line-height: 1.68;
    color: #333333;
    padding-bottom: 22px; }
  .our-bg-wrapper .our-bg-desc li {
    font-size: 25px;
    color: #333132;
    line-height: 2;
    font-weight: 300; }
  .our-bg-wrapper .our-bg-profiles {
    padding-top: 167px; }
    .our-bg-wrapper .our-bg-profiles .our-bg-head {
      font-weight: 600;
      padding-bottom: 0; }
    .our-bg-wrapper .our-bg-profiles .our-bg-head, .our-bg-wrapper .our-bg-profiles li {
      line-height: 2.22;
      font-size: 18px; }
    .our-bg-wrapper .our-bg-profiles .our-bg-profile img {
      height: 280px;
      max-width: 100%;
      object-fit: cover;
      margin: 0 auto; }
    .our-bg-wrapper .our-bg-profiles .our-bg-profile-content {
      padding-top: 34px;
      display: table;
      margin: 0 auto; }
  @media (max-width: 767px) {
    .our-bg-wrapper {
      padding: 50px 0; }
      .our-bg-wrapper .our-bg-desc .our-bg-desc-content {
        padding-bottom: 30px; }
      .our-bg-wrapper .our-bg-desc .col-md-4:last-child .our-bg-desc-content {
        padding-bottom: 0; }
      .our-bg-wrapper .our-bg-profiles .our-bg-profile img {
        width: 100%;
        height: auto; }
      .our-bg-wrapper .our-bg-profiles .our-bg-profile-content {
        padding-top: 20px; }
      .our-bg-wrapper .our-bg-profiles .our-bg-profile {
        padding-bottom: 50px; }
      .our-bg-wrapper .our-bg-profiles .col-md-4:last-child .our-bg-profile {
        padding-bottom: 0; } }

.about-us-wrapper {
  padding: 76px 0 50px; }
  .about-us-wrapper .h2 {
    padding-bottom: 52px; }
  .about-us-wrapper .about-us-head {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.31;
    padding-bottom: 47px; }
  .about-us-wrapper .our-vision {
    padding-bottom: 107px; }
  .about-us-wrapper .about-us-section h5 {
    padding-bottom: 44px; }
  .about-us-wrapper .about-us-section h5, .about-us-wrapper .about-us-section p {
    font-size: 25px;
    line-height: 1.68;
    max-width: 600px;
    color: #333132; }
  .about-us-wrapper .about-us-section img {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
  @media (max-width: 767px) {
    .about-us-wrapper .about-us-section img {
      margin: 50px auto 0; } }

.why-google-sprint {
  padding-top: 100px; }
  .why-google-sprint .h2 {
    padding-bottom: 76px; }
  .why-google-sprint .why-GS-left {
    border-top: 12px solid #f9cb53; }
  .why-google-sprint .why-GS-right {
    border-top: 12px solid #cb8589; }
  .why-google-sprint .why-GS-content {
    padding-bottom: 86px; }
    .why-google-sprint .why-GS-content h4 {
      padding: 55px 50px;
      font-size: 32px;
      font-weight: 900;
      line-height: 1.31; }
    .why-google-sprint .why-GS-content .why-GS-contain {
      padding: 55px 50px 50px 50px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      height: 100%;
      min-height: 420px; }
      .why-google-sprint .why-GS-content .why-GS-contain h5, .why-google-sprint .why-GS-content .why-GS-contain p {
        font-size: 25px;
        line-height: 1.68; }
      .why-google-sprint .why-GS-content .why-GS-contain h5 {
        font-weight: 900; }
  .why-google-sprint .section-img-banner {
    height: 556px; }

.section-img-banner {
  overflow: hidden;
  position: relative; }
  .section-img-banner img {
    position: absolute;
    width: 100%; }

.how-google-sprint {
  padding-top: 57px; }
  .how-google-sprint .h2 {
    padding-bottom: 19px; }
  .how-google-sprint .section-img-banner {
    height: 576px; }
  .how-google-sprint .how-google-sprint-head p {
    color: #333132;
    font-size: 25px;
    line-height: 1.68;
    text-align: center; }
  .how-google-sprint .how-gs-link {
    text-align: center;
    color: #1b9aaa;
    display: block;
    font-size: 25px;
    font-weight: 900;
    line-height: 1.68;
    margin-bottom: 76px; }
  .how-google-sprint .how-gs-contents {
    text-align: center;
    position: relative;
    padding-top: 66px; }
    .how-google-sprint .how-gs-contents:after {
      content: "";
      height: 90%;
      background: #c9dde5;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      display: block;
      height: 240px;
      bottom: 10%;
      z-index: -1; }
    .how-google-sprint .how-gs-contents .how-gs-content button {
      background-color: #1b9aaa;
      font-size: 14px;
      font-weight: 900;
      max-width: 231px;
      padding: 15px;
      margin-bottom: 32px;
      color: #fff;
      text-transform: uppercase;
      width: 100%; }
    .how-google-sprint .how-gs-contents .how-gs-content h3 {
      background-color: #333132;
      color: #fff;
      font-size: 26px;
      font-weight: 900;
      line-height: 1.62;
      padding: 15px; }
    .how-google-sprint .how-gs-contents .how-gs-content p {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      font-size: 25px;
      color: #333132;
      background-color: #fff;
      display: table-cell;
      height: 160px;
      width: 100%;
      vertical-align: middle; }
    .how-google-sprint .how-gs-contents .how-gs-content .tag-wrap {
      display: table;
      width: 100%; }
    .how-google-sprint .how-gs-contents .how-gs-content .how-gs-tags {
      display: table;
      width: 100%; }
      .how-google-sprint .how-gs-contents .how-gs-content .how-gs-tags ul {
        vertical-align: top;
        display: table-cell; }
      .how-google-sprint .how-gs-contents .how-gs-content .how-gs-tags li {
        max-width: 247px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin-bottom: 30px; }

.GS-video-wrapper {
  padding-top: 39px; }
  .GS-video-wrapper .h2 {
    padding-bottom: 50px; }
  .GS-video-wrapper .GS-video-content {
    background-color: #f9f9f9;
    padding: 62px 0; }
  .GS-video-wrapper .GS-video-left img, .GS-video-wrapper .GS-video-left video {
    width: 100%; }
  .GS-video-wrapper .GS-video-right img {
    height: 76px;
    width: 76px;
    border: 5px solid #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
    border-radius: 50px; }
  .GS-video-wrapper .GS-video-right h4 {
    font-size: 25px;
    font-weight: 900; }
  .GS-video-wrapper .GS-video-right p {
    font-size: 17px;
    font-weight: 500;
    line-height: 2; }
  @media (max-width: 767px) {
    .GS-video-wrapper .GS-video-left {
      padding-bottom: 30px; } }

.cases-container {
  max-width: 1068px;
  margin: 0 auto;
  padding: 0 15px; }

footer {
  background-color: #c9dde5;
  padding: 43px 0 34px; }
  footer .footer-contact {
    color: #8e999c; }
    footer .footer-contact li {
      position: relative; }
    footer .footer-contact i {
      position: absolute;
      left: 2px;
      font-size: 25px; }
    footer .footer-contact a, footer .footer-contact p {
      color: #8e999c;
      padding-left: 35px;
      padding-bottom: 20px;
      display: block; }
  footer .footer-logo {
    height: 66px;
    width: 66px;
    margin: 0 auto;
    display: table; }
  footer .footer-social {
    text-align: right; }
    footer .footer-social li {
      display: inline-block;
      padding-left: 30px; }
  @media (max-width: 767px) {
    footer .footer-contact {
      display: table;
      margin: 0 auto; }
    footer .footer-logo {
      margin: 30px auto; }
    footer .footer-social {
      text-align: center; }
      footer .footer-social li {
        padding: 0 20px; } }

.contact-us .navbar-light .navbar-nav .nav-link.active {
  color: #ea5752; }
  .contact-us .navbar-light .navbar-nav .nav-link.active:after {
    opacity: 1;
    width: 100%; }

.talk-to-us .h2 {
  padding: 38px 0 52px; }
.talk-to-us .talk-to-us-content {
  padding: 100px 0;
  background-color: #48b8d0;
  text-align: center; }
  .talk-to-us .talk-to-us-content .h2 {
    color: #fff;
    padding: 0 60px 0 0; }
  .talk-to-us .talk-to-us-content .h2, .talk-to-us .talk-to-us-content button {
    display: inline-block;
    vertical-align: middle; }
  .talk-to-us .talk-to-us-content button {
    font-size: 17px;
    font-weight: 900;
    line-height: 1.94;
    color: #48b8d0;
    padding: 18px;
    background-color: #fff;
    border: none;
    max-width: 289px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2.5px; }
@media (max-width: 767px) {
  .talk-to-us .talk-to-us-content .h2 {
    padding: 0 0 30px 0; } }

.cases-hero-banner {
  background-color: #48b8d0; }
  .cases-hero-banner .navbar-light .navbar-nav .nav-link {
    color: #fff; }
  .cases-hero-banner .navbar-expand-md .navbar-nav .nav-link:after {
    background-color: #fff; }
  .cases-hero-banner .cases-banner-content {
    padding: 80px 0 95px; }
    .cases-hero-banner .cases-banner-content h1 {
      font-size: 70px;
      font-weight: 900;
      line-height: 1.43;
      color: #fff; }

.testimony {
  padding: 61px 0 68px; }
  .testimony .testimony-content {
    max-width: 475px;
    margin: 0 auto; }
    .testimony .testimony-content .testimony-desc {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      line-height: 1.68; }
    .testimony .testimony-content .media {
      max-width: 170px;
      margin: 27px auto 0; }
      .testimony .testimony-content .media img {
        height: 50px;
        width: 50px;
        border: 5px solid #fff;
        border-radius: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        margin-right: 27px; }
      .testimony .testimony-content .media h5, .testimony .testimony-content .media p {
        font-size: 17px;
        line-height: 2;
        text-align: left; }
      .testimony .testimony-content .media h5 {
        font-weight: 900;
        color: #333132; }
      .testimony .testimony-content .media p {
        color: #82968c; }

.cases-wrapper .h2 {
  padding-bottom: 53px; }
.cases-wrapper .cases-section {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 120px; }
  .cases-wrapper .cases-section:last-child {
    padding-bottom: 0; }
.cases-wrapper .cases-container {
  padding-bottom: 83px; }
  .cases-wrapper .cases-container:last-child {
    padding-bottom: 0; }
  .cases-wrapper .cases-container img {
    width: 100%; }
  .cases-wrapper .cases-container h5 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.67;
    color: #333132;
    padding-bottom: 40px; }
  .cases-wrapper .cases-container p {
    font-size: 19px;
    font-weight: 500;
    line-height: 2.21; }
  .cases-wrapper .cases-container a {
    color: #48b8d0; }
@media (max-width: 767px) {
  .cases-wrapper .cases-section {
    padding-bottom: 80px; }
  .cases-wrapper .cases-container .cases-container-left {
    padding: 30px 0 0; }
  .cases-wrapper .cases-container h5 {
    padding-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
