/**
 *  Abstracts
 */

@import "abstracts/variables";

/**
 *  Base
 */

@import "base/mixins";
@import "base/reset";
@import "base/body";
@import "base/btns";

/**
 * Components
 */

@import "components/page";
@import "components/hero-banner";
@import "components/header-nav";
@import "components/form";
@import "components/get-in-touch";
@import "components/design-sprint";
@import "components/design-sprint-validate";
@import "components/what-you-get";
@import "components/fortune-company";
@import "components/our-background";
@import "components/about-us";
@import "components/why-google-sprint";
@import "components/how-google-sprint";
@import "components/gs-video";
@import "components/wanna-GS";
@import "components/gs_expiration";
@import "components/ds-results";
@import "components/we-take-care";
@import "components/footer";
@import "components/animation";
@import "components/articles-about-DS";

/**
 * Pages
 */

// @import "pages/home";
@import "pages/contact";
@import "pages/cases";
@import "pages/data";
