/*------------------------------------*\
    #Google Sprint Validate
\*------------------------------------*/

.google-sprint-validate-wrapper{
	padding: 70px 0 90px;

	.h2{
		line-height: 1.9;
		padding-bottom: 90px;

		span{
			display: block;
		}
	}

	.gs-four-validate{
		ul{
			text-align: center;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;


			li{
				border-radius: 2px;
				box-shadow: 0 12px 39px 3px rgba(0, 0, 0, 0.09);
				background-color: #ffffff;
				padding: 80px 40px 50px;
				display: inline-block;
				max-width: 460px;
				margin: 0 0px 73px 0;
				text-align: left;
				flex-grow: 2;

				h4{
					font-size: 32px;
					line-height: 1.5;
					font-family: $font-bold;
					color: $text-1;
					padding-bottom: 40px;
				}
				p{
					font-size: 25px;
					line-height: 42px;
					color: $text-1;
					font-family: $font-light;

					span{
						font-size: 25px;
						line-height: 42px;
						color: #1b9aaa;
						font-family: $font-bold;
					}
				}
			}
		}
	}

	.gs-request-call{
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		
		form{
			display: flex;
			justify-content: center;
		}

		input{
			color: #d8d8d8;
			font-size: 20px;
			line-height: 2;
			height: 64px;
			padding: 15px 20px 12px;
			max-width: 400px;
			width: 100%;
			border-radius: 2px 0 0 2px;

			border: 1px solid #d8d8d8;
		}
		button{
			max-width: 200px;	
			width: 100%;
			font-family: $font;
			font-size: 21px;
			padding: 18px ;
			height: 64px;
			background-color: #1b9aaa;
			color: #fff;
			border: none;
			border-radius: 0 2px 2px 0;
		}
		p{
			display: block;
			font-size: 18px;
			line-height: 1.78;
			text-align: center;
			color: rgba(0, 47, 75, 0.6);
			padding-top: 24px
		}
	}
}


