footer{
	background-color: #c9dde5;
	padding: 43px 0 34px;
	max-width: 1375px;
	margin: 0 auto;
	

	.footer-contact{
		color: #8e999c;

		li{
			position: relative;
		}
		i{
			position: absolute;
			left: 2px;
			font-size: 25px;	
		}
		a, p{
			color: #8e999c;
			padding-left: 35px;
			padding-bottom: 30px;
			display: block;
			font-size: 19px;
		}
		a.gmap{
			padding-bottom: 10px;
		}
		img{
			width: 80px;
		}
		
	}

	.footer-logo {
	    height: 66px;
	    width: 66px;
	    margin: 0 auto;
	    display: table;
	}

	.footer-social {
	    text-align: right;

	    li {
		    display: inline-block;
		    padding-left: 30px;

		    a{
		    	display: block;
		    	border-radius: 50%;
		    	@include ease-2();

		    	&:hover{
					box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
				}
		    }
		}
	}
	.footer-links {
    	text-align: right;
    	padding-top: 30px;

    	li{
			display: inline-block;
			padding-left: 20px;
			
			a{
				color: rgba(51, 51, 51, 0.4 );
				font-size: 14px;
			}
    	}
	}


	@media (max-width: 767px){

		.footer-contact {
		    display: table;
		    margin: 0 auto;

		    img{
				margin: 0 auto;
				display: block;
			}
		}
		.footer-logo {
			margin: 20px auto 40px;
		}
		.footer-social {
			text-align: center;
			li {
				padding: 0 15px;
			}
		}
		.footer-links {
			text-align: center;
			li{
				padding: 0 10px;
			}
		}

	}
}