.navbar{
	padding-left: 0;
	padding-right: 0;
	background-color: transparent !important; 

	.header-logo{
		height: 54px;
		width: 54px;
	}
}


.navbar-light .navbar-nav .nav-link{
	color: $text-1;
}
.navbar-expand-md .navbar-nav .nav-link{
	padding: 20px 30px;

	@media (max-width: 767px){
		padding: 15px 0px;
	}
}
