.wanna-DS-wrapper{
	padding-top: 60px;

	.h2{
		padding-bottom: 51px;
	}

	.section-img-banner{
		height: 524px;
		margin-top: 94px;
	}

	.wanna-DS-head{
		max-width: 877px;
		margin: 0 auto;

		h4, p{
			font-size: 25px;
			line-height: 1.68;
		}
		h4{
			font-family: $font-bold;
			padding-bottom: 29px;
		}
		p{
			font-size: 25px;
			font-weight: 300;
			font-family: $font-light;
		}
	}

	.wanna-DS-table{
		padding: 74px 0 0px;


		h3{
			font-size: 25px;
			font-weight: 700;
			line-height: 1.4;
			position: relative;
			font-family: $font-bold;
		}
		h4{
			font-family: $font-bold;
		}
		h4, p{
			font-size: 17px;
			font-weight: 700;
			line-height: 1.88;
		}
		p{
			font-weight: 300;
			font-family: $font-light;
		}

		table{
			box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.04);

		}


		tr{
			border-left: 4px solid #7ed321;
		}

		tr#headingThree{
			background-color: #f9f9f9;
			border-left: 4px solid #ea5752;
		}
		td, th{
			vertical-align: middle;
			padding: 30px 40px;
		}
		th{
			width: 280px;
		}
	}
	@media (max-width: 767px){


		.wanna-DS-table {

			h3:after{
				content: "\f0d7";
				position: absolute;
				right: -15px;
				top: 45%;
				font-size: 20px;
				color: #c1c5ca;
				font-family: fontawesome;
				margin-top: -10px;
			}

			th{
				width: auto;
			}
			td, th{
				padding: 20px;
			}
			.collapse-anchor{
				cursor: pointer;
			}
		}
		td, th{
			padding: 20px;
		}
	}
}